<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <style>
        {{template "static/style.css"}}
    </style>
    <script type="text/javascript">
        {{template "static/script.js"}}
    </script>
</head>
<body>
    <div id="container">
        <div class="box">
            <table>
            <thead>
            <tr>
                <td>Received</td>
                <td>Sender</td>
                <td>Recipients</td>
            </tr>
            </thead>
            <tbody>
            {{range .}}
            <tr style="cursor:pointer;" onclick="loadMailMeta({{.Id}})">
                <td>{{.ReceivedAt | datetime}}</td>
                <td>{{.Sender}}</td>
                <td>
                    <ul>
                        {{range .Recipients}}<li>{{ . }}</li>{{else}}No recipients!{{end}}
                    </ul>
                </td>

            </tr>
            {{else}}
            <tr>
                <td colspan="3">No Mails received yet.</td>
            </tr>
            {{end}}
            </tbody>
            </table>
        </div>
        <div class="box" id="meta">
            Select a mail from the list.
        </div>
    </div>
</body>
</html>
