<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <style>
        {{template "static/style.css"}}
    </style>
    <script type="text/javascript">
        {{template "static/script.js"}}
    </script>
</head>
<body>
<div id="container">
    <section>
    <table>
        <thead>
        <tr>
            <td>Header</td>
            <td>Value</td>
        </tr>
        </thead>
        <tbody>
        {{range $index,$element := .Message.Header}}
            <tr>
            <td>{{$index}}</td>
            <td><ul>{{range $element}}<li>{{.}}</li>{{end}}</ul></td>
            </tr>
        {{end}}
        </tbody>
    </table>
    <table>
        <thead>
        <tr>
            <td>Content-Type</td>
            <td>Disposition</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        {{$id := .Id}}
    {{if .Message.HasParts}}
    {{range $index,$element := .Message.Parts}}
        <tr>
            <td>{{$element.Header | contenttype }}</td>
            <td>{{$element.Header | contentdisposition }}</td>
            <td><a href="/mail/multi/{{$id}}/{{$index}}" target="_blank">Open</a></td>
        </tr>
    {{end}}
    {{end}}
    {{if .Message.HasBody}}
        <tr>
            <td>{{.Header | contenttype }}</td>
            <td>inline</td>
            <td><a href="/mail/single/{{$id}}" target="_blank">Open</a></td>
        </tr>
    {{end}}
        </tbody>
    </table>
</section>
</div>
</body>
</html>
