<section>
    <table>
        <thead>
        <tr>
            <td>Header</td>
            <td>Value</td>
        </tr>
        </thead>
        <tbody>
        {{range $index,$element := .Message.Header}}
            <tr>
            <td>{{$index}}</td>
            <td><ul>{{range $element}}<li>{{.}}</li>{{end}}</ul></td>
            </tr>
        {{end}}
        </tbody>
    </table>
    <table>
        <thead>
        <tr>
            <td>Content-Type</td>
            <td>Disposition</td>
        </tr>
        </thead>
        <tbody>
        {{$id := .Id}}
    {{if .Message.HasParts}}
    {{range $index,$element := .Message.Parts}}
        <tr style="cursor:pointer;" onclick="loadMail({{$id}}, {{$index}})">
            <td>{{$element.Header | contenttype }}</td>
            <td>{{$element.Header | contentdisposition }}</td>
        </tr>
    {{end}}
    {{end}}
    {{if .Message.HasBody}}
        <tr style="cursor:pointer;" onclick="loadMail({{$id}})">
            <td>{{.Header | contenttype }}</td>
            <td>inline</td>
        </tr>
    {{end}}
        </tbody>
    </table>
</section>
