#container {
    width:100%;
    display:-webkit-flex;
    display:flex;
}

.box {
    width:50%;

    height: 100%;
}

table {
    width: 100%;
}

iframe {
    height: 100%
}
tbody tr:nth-child(odd) {
   background-color: #ccc;
}
